<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="shortcut icon" href="#" />

    <!-- Page Info -->
    <title>SnailScale</title>
    <meta name="author" content="Sepehr Bostan" />
    <meta name="description" content="Comfortable Diet" />

    <link rel="stylesheet" type="text/css" href="css/agile.css" />
  </head>
  <body>
    <div class="hero"><h1>Features & Benefits</h1></div>
    <section>
      <div class="container">
        <div class="div_item_list_left">
          <h3>Features</h3>
        </div>
        <div>
          <h3>Benefits</h3>
        </div>
        <div class="div_item_list">
          1. Clear display of nutritional information in a table
        </div>
        <di>
          <ul>
            <li>
              For users who want to get nutritional information such as micro
              and macro nutrition for various reasons. These users can be
              athletes or any one who wants to follow a diet or needs to pay
              careful attention to their meals' nutritional information. This
              feature can save users a lot of time by automating what could take
              a much longer time just by searching by hand and calculating the
              nutritions.
            </li>
          </ul>
        </di>
        <div class="div_item_list">2. Choosing alternate food options</div>
        <div>
          <ul>
            <li>
              For users who want to have user interaction with the classifier.
              Users can correct the classifier in case misclassification. For
              example between long and short grained white rice there is a
              higher uncertainty and users can fix that by choosing given
              options. This is important for users who are looking for more user
              input, interactions, and when they observe a mistake and want to
              easily correct it.
            </li>
          </ul>
        </div>
        <div class="div_item_list">
          3. Addition and removal of each scanned item for a total nutitional
          info display.
        </div>
        <div>
          <ul>
            <li>
              For users who want to view the amount of nutritional info they
              will be consuming in a meal. This feature helps users to add meal
              or remove unwanted ones in case they change their mind and can
              view the total sum at the end. This is important for users who
              want to view an entire meals nutritional info and manage the items
              in the meal.
            </li>
          </ul>
        </div>
        <div class="div_item_list">4. Saving and logging meals</div>
        <div>
          <ul>
            <li>
              Users who want to log their meals daily and follow a routine. This
              feature can help users to save and view their nutritional
              information per meal every day for an easier developement of a
              habbit. This is important for users who want to tract their meals
              and follow a daily pattern/goal.
            </li>
          </ul>
        </div>
        <div class="div_item_list">
          5. General scale display options, weight, units, and tare.
        </div>
        <div>
          <ul>
            <li>
              For those who also want to use the scale. Users can see the weight
              of the food. They can change nutritional info units for different
              serving amounts or change item weight units grams, lbs, etc for
              easier use. The can also use tare to zero out the current weight.
              This is important for users who are also looking to use the scale
              separately when they want to.
            </li>
          </ul>
        </div>
      </div>
    </section>
    <div class="btn medium pill" id="homepage" onclick="product_page()">
      Back to home page
    </div>
    <script type="text/javascript" src="rest.js"></script>
  </body>
</html>
