<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="shortcut icon" href="#" />

    <!-- Page Info -->
    <title>SnailScale</title>
    <meta name="author" content="Sepehr Bostan" />
    <meta name="description" content="Comfortable Diet" />

    <link rel="stylesheet" type="text/css" href="css/agile.css" />
  </head>
  <body>
    <div class="hero">
      <h1 class="header-hero">Costs</h1>
    </div>

    <section class="Middle">
      <h2>Cost Breakdown:</h2>
      <div class="HighLineWidth">
        Each unit costs around $46.86 in total; this includes cost of base
        units, raw materials, labor, and shipment.
      </div>
    </section>

    <section class="Middle">
      <h2>Cost per unit breakdown:</h2>
      <ul>
        <li>
          <h4>Base Units:</h4>
          This includes a camera $2.9, a scale $4.00 and a micro-controller $17.
        </li>
        <li>
          <h4>Raw Material:</h4>
          The raw material for assemly and production is $6.
        </li>
        <li>
          <h4>Labor:</h4>
          This includes, Software and Web developer, assemly line personnel,
          warehouse personnel, and other miscelanious. on average would cost
          around $16.66 per unit cost.
        </li>
        <li>
          <h4>Shipment:</h4>
          Around $0.30 a unit.
        </li>
      </ul>
    </section>

    <a href="./">
      <div class="btn medium pill" id="homepage" onclick="product_page()">
        Back to home page
      </div>
    </a>
    <script type="text/javascript" src="rest.js"></script>
  </body>
</html>
