<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Page Info -->
    <title>SnailScale</title>
    <meta name="author" content="Sepehr Bostan" />
    <meta name="description" content="Comfortable Diet" />

    <link rel="stylesheet" type="text/css" href="css/agile.css" />
  </head>

  <div class="hero">
    <h1 class="header-hero">Snail Scale</h1>
    <p>The Future Is Here</p>
  </div>
  <section>
    <div class="container">
      <aside class="question">
        <h5>About Us:</h5>
      </aside>

      <aside class="question">
        <h5>What is SnailScale?</h5>
      </aside>
      <aside>
        <ul>
          <li class="member-names">Sepehr Bostan</li>
          <li class="member-names">Dallas Dominguez</li>
          <li class="member-names">Nihal Azeez</li>
          <li class="member-names">Salman Nooriexce</li>
        </ul>
      </aside>
      <aside>
        A scale that displays all dietary nutritions and food facts after
        recognizing the type of of the food or ingredient using a camera, based
        on the weight.
      </aside>
    </div>
  </section>
  <div class="field">
    <h4>Do you like our product?</h4>
    <label class="margin-top-lg control control--radio">
      Absolutely!
      <input type="radio" name="radio" checked="checked" />
      <div class="control__indicator"></div>
    </label>
    <label class="control control--radio"
      >Yea I love it
      <input type="radio" name="radio" />
      <div class="control__indicator"></div>
    </label>
  </div>
  <section>
    <h4>Website implementation design:</h4>
    <p>
      I used docker in general. I used mysql for back-end, pyramid in Python,
      and JavaScript file which where the same pattern we used in 140A for
      connection between front-end and back-end communication. The main addition
      so far is live website and CSS styling.
    </p>
  </section>
</html>
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Page Info -->
    <title>SnailScale</title>
    <meta name="author" content="Sepehr Bostan" />
    <meta name="description" content="Comfortable Diet" />

    <link rel="stylesheet" type="text/css" href="css/agile.css" />
  </head>

  <div class="hero">
    <h1 class="header-hero">Snail Scale</h1>
    <p>The Future Is Here</p>
  </div>
  <section>
    <div class="container">
      <aside class="question">
        <h5>About Us:</h5>
      </aside>

      <aside class="question">
        <h5>What is SnailScale?</h5>
      </aside>
      <aside>
        <ul>
          <li class="member-names">Sepehr Bostan</li>
          <li class="member-names">Dallas Dominguez</li>
          <li class="member-names">Nihal Azeez</li>
          <li class="member-names">Salman Nooriexce</li>
        </ul>
      </aside>
      <aside>
        A scale that displays all dietary nutritions and food facts after
        recognizing the type of of the food or ingredient using a camera, based
        on the weight.
      </aside>
    </div>
  </section>
  <div class="field">
    <h4>Do you like our product?</h4>
    <label class="margin-top-lg control control--radio">
      Absolutely!
      <input type="radio" name="radio" checked="checked" />
      <div class="control__indicator"></div>
    </label>
    <label class="control control--radio"
      >Yea I love it
      <input type="radio" name="radio" />
      <div class="control__indicator"></div>
    </label>
  </div>
  <section>
    <h4>Website implementation design:</h4>
    <p>
      I used docker in general. I used mysql for back-end, pyramid in Python,
      and JavaScript file which where the same pattern we used in 140A for
      connection between front-end and back-end communication. The main addition
      so far is live website and CSS styling.
    </p>
  </section>
</html>
