<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="shortcut icon" href="#" />

    <!-- Page Info -->
    <title>SnailScale</title>
    <meta name="author" content="Sepehr Bostan" />
    <meta name="description" content="Comfortable Diet" />

    <link rel="stylesheet" type="text/css" href="css/agile.css" />
  </head>
  <body>
    <div class="hero">
      <h1 class="header-hero">Key Product Interactions</h1>
    </div>

    <section class="Middle">
      <h2>Total nutritions</h2>
      <div class="HighLineWidth">
        using add, remove, and sum buttons users can create a meal and view the
        total nutritional info of their current meal.
      </div>
    </section>

    <section class="Middle">
      <h2>Total Meal info</h2>
      <div class="HighLineWidth">
        Users can log the created meal and save it in a meal diary, they can
        come back to view their diary at anytime.
      </div>
    </section>

    <section class="Middle">
      <h2>Scale Display, Tare and Units</h2>
      <div class="HighLineWidth">
        Users can view item weight, use tare button to zero out the scale and
        change units as they see fit.
      </div>
    </section>
    <section class="Middle">
      <h2>Nutritional Info Serving Size</h2>
      <div class="HighLineWidth">
        Users can change nutriotinal info serving units based on their needs.
      </div>
    </section>

    <section class="button_single_out">
      <a href="./">
        <div class="btn medium pill" id="homepage">Back to home page</div>
      </a>
    </section>

    <script type="text/javascript" src="rest.js"></script>
  </body>
</html>
