<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="shortcut icon" href="#" />

    <!-- Page Info -->
    <title>SnailScale</title>
    <meta name="author" content="Sepehr Bostan" />
    <meta name="description" content="Comfortable Diet" />

    <link rel="stylesheet" type="text/css" href="css/agile.css" />
  </head>
  <body>
    <div class="hero"><h1>KVP</h1></div>
    <section>
      <div class="container">
        <aside class="question">
          <h4>Our promise to you:</h4>
        </aside>
        <aside>
          Simple and quick way to get all the info you need about a food item.
          Calories, protiens, carbs, sodium, etc. are calculated quickly and
          displayed for your information.
        </aside>
        <aside class="question">
          <h4>What does SnailScale offer?</h4>
        </aside>
        <aside>
          Save a lot of time searching for the food, measuring and calculating
          the info about the food which could take alot of time other-wise
          specially before a meal prep.
        </aside>
        <aside class="question">
          <h4>Why choose SnailScale?</h4>
        </aside>
        <aside>
          There are no other direct competitors that would do this automated
          process for you. The only alternative is the long and arduous process
          of making a list of all the food items, writing down their food facts,
          calculating the nutritional info per food item for each meal over and
          over again which would take hours of your week.
        </aside>
      </div>
    </section>
    <a href="./">
      <div class="btn medium pill" id="homepage">Back to home page</div>
    </a>
    <script type="text/javascript" src="rest.js"></script>
  </body>
</html>
