<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="shortcut icon" href="#" />

    <!-- Page Info -->
    <title>SnailScale</title>
    <meta name="author" content="Sepehr Bostan" />
    <meta name="description" content="Comfortable Diet" />

    <link rel="stylesheet" type="text/css" href="css/agile.css" />
  </head>
  <body>

    <<div class="hero">
      <h1 class="header-hero">Notes and Addition</h1>
      <p>For Assignments</p>
</div>

<section class="Middle">
  <h2>
  Assignment 1:
  </h2>
  <div class = "HighLineWidth">I used docker in general. I used MySQL for the back-end, pyramid python, and JavaScript in case there will be a dynamic interaction between the user with the server. <br>Same Connection set up between front-end and back-end in 140A. The Main addition so far is the live website and CSS styling.</div>
</section>

<section class="Middle">
  <h2>
  Assignment 2:
  </h2>
  
  <div class = "HighLineWidth">
    <a href="./kvp">
      http://128.199.9.174/kvp
    </a>
  <br>
    <a href="./product">
      http://128.199.9.174/product
    </a>
  <br>
  are additional pages
  with button implementation to navigate between the pages.
  </div>

</section>

<section class="Middle">
  <h2>
  Assignment 3:
  </h2>
    <div class = "HighLineWidth">
  <ul>
  <li>Visibility: Added two large buttons, styled and easy to navigate between the pages.
    </li>
    <li>
Viscosity: There are no barriers in the user’s way to achieving a goal. Clean and simple page.
    </li>
    <li>
No Premature Commitment: users can take steps toward a final choice of what they want to achieve. In this case, they can want to choose what package option they want and another option of their opinion of the product in radio-button format.
    </li>
  </ul>
    </div>
</section>

<section class="Middle">
  
  <h2>
  Assignment 4:
  </h2>
  
  <div class="Showbox">

    <div class="ImageBox" >
      <img class="LeftImage" src="/images/GithubHomeScreen.png" width="250" height="250" />
      <p class="ImageInfo"><h4>Jacob's Law:</h4><div class = "HighLineWidth">Majority of websites follow a similar design pattern. Shopping websites have a large search bar in the top middle section of the page or the user's profile and info are usually on top right of the page. This is an example of Jacob's Law which simply is following a similar pattern that users are used to follow. </div></p>
    </div>
 
  

    <div class="ImageBox">
      <img class="LeftImage" src="/images/ZoomHomeScreen.png" width="250" height="250" />
      <p class="ImageInfo"><h4>Law of Pragnaz</h4><div class = "HighLineWidth">Creating a simple and easy to follow indicators are an example of this Law. For example to create a meeting on Zoom or the purchase button on a website is a large uniquely colored button. </div></p>
    </div>

  

    <div class="ImageBox">
      <img class="LeftImage" src="/images/TritonLinkHomeScreen.png" width="250" height="250" />
      <p class="ImageInfo"><h4>Law of Proximity</h4><div class = "HighLineWidth">Group relating objects together. Websites and Applications with a large number of choices and paths  group the similar paths together for simplicity. TritonLink is one of many examples available. </div></p>
    </div>
  </div>
<section class="questions">
  <div>
    1. The user will see two differnt info on two different platforms, the device and the website: 
    <ul> 
      <li>
        Once the scale(device) is turned on the user will see weight displayed, they can change units and use tare to change the zero of the scale. 
      </li>
      <li>
        On website there are multiple sections on the main page: 
        <ol> 
          <li> A window that displays food facts, initially this window will just be a table with default values set to zero. 
          </li>
          <li>
            On the right side of the window they will see interactable buttons, one to add-up the nutrition with the previous item, another button to show the final sum, and a final button to reset. 
          </li>
          <li>
            Another window in-between two buttons to remove any of the added items. 
          </li>
          <li>
          Finally a last window to choose the correct item when the classification model is uncertain.
          </li>
        </ol>
      </li>
    </ul>
  </div>
  <div>
    2. Since our device is 1 layer deep and the website offers only a few options(add, remove, sum, choose) our IA design choices will follow principles are best for this architecture, this includes:
    <ul>
      <li>
        The princlple of choice is one of them because we don't want to over complicate a simple task.
      </li>
      <li>
        The principle of disclosure will also be practiced as the user can just view nutritional fact of a single item at a time and if they wish, it's possible to add the nutritional information.
      </li>
      
    </ul>
  </div>
  <div>
    3. Our website will have one of or a mixture of below structures:
    <ul>
      <li>
        Sequential structure: The user will start off where the window with nutritional fact is shown and can proceed to other interactables if they want.
      </li>
      <li>
        Matrix structure: The user can interact with other interactables once the food is categorised by the model.
      </li>
    </ul>
    
  </div>
  <div>
    For part2 I have used below Princples of Visual Heirarchy to guide users to the interactibles such as buttons:
    <ul>
      <li>
        Size and Scale: Size of buttons are large enough to be easily picked apart and detected.
      </li>
        Color and Contrast: the buttons are differently colored from the rest of the environemnt and will change color on hover for dynamic interaction.
      <li>
          Typographic Heirarchy: more important info such as headers and button names are larger than other fonts.
      </li>
      <li>
          Spacing: The buttons for each page are apart from each other and from other info however ther are in the same line.
      </li>
      <li>
          Proximity: Interactible info such as team members list, radio buttons, or pricing options are grouped together. 
      </li>
    </ul>
    I will add more principle examples later as I add to the website.
  </div>
</section>
  <a href="./">
  <div class="btn medium pill button_single_out" id="homepage">
    Back to home page</div>
</a>
</section>


  </body>
</html>
