<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="shortcut icon" href="#" />

    <!-- Page Info -->
    <title>SnailScale</title>
    <meta name="author" content="Sepehr Bostan" />
    <meta name="description" content="Comfortable Diet" />

    <link rel="stylesheet" type="text/css" href="css/agile.css" />
  </head>
  <body>
    <div class="hero">
      <h1 class="header-hero">Journey and Pivots</h1>
    </div>

    <section class="Middle">
      <h2>Pivots Taken:</h2>
      <div class="HighLineWidth">
        For our product we haven't taken a major pivot. We have listedned to our
        potentials customers and audience through online surveys, interviews,
        and online forums. The main request was user interaction, the customers
        would rather more dirrect interaction with the device rather than a
        fully automatic device. The main pivots we have taken are device's
        hardware interaction and generally how we built the software side.
        <ol>
          <li>
            First pivot was our approach towards the machine learning part and
            neural network model. Due to small number of dataset we had to
            increase the size using data augmentation and furthur more apply
            transfer learning which was a complicated process and extended the
            creation of the model by 2 weeks.
          </li>
          <li>
            We added a list of items which creates a meal, the user can add the
            items they want to the list to create a meal. They can remove most
            recent items, view the toal nutrition of the meal or clear the list.
          </li>
          <li>
            Top three guesses that are detected by the model. The website can
            display the top three guesses from the model and user can correct
            the model by choosing the correct guess out of the three in case
            there is a mistake by the model.
          </li>
          <li>
            Addition of button to capture a picture manually which simplifies
            the process and user can control when they want to start the
            process.
          </li>
          <li>
            Lastly we added some features for better accesibility for people
            with certain disabilities.
          </li>
        </ol>
      </div>
    </section>

    <section class="Middle">
      <h2>Pivot Principles:</h2>

      <div class="ImageBox">
        <ol>
          <li>
            Technology Pivot; We decided to change the method in which we
            created our model and increase its accuracy and performance while
            having a fairly small dataset
          </li>
          <li>
            Customer Need Pivot: After communicating with our target audience
            and potential customers we found out that customers want more
            personal input and user interactions. Aditionally we added features
            for better accesibility
          </li>
        </ol>
      </div>
      <br />
      <a href="./">
        <div class="btn medium pill" id="homepage">Back to home page</div>
      </a>
    </section>

    <script type="text/javascript" src="rest.js"></script>
  </body>
</html>
