<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="shortcut icon" href="#" />

    <!-- Page Info -->
    <title>SnailScale</title>
    <meta name="author" content="Sepehr Bostan" />
    <meta name="description" content="Comfortable Diet" />

    <link rel="stylesheet" type="text/css" href="css/agile.css" />
  </head>
  <body>
    <div class="hero"><h1>About Our Product</h1></div>
    <section>
      <div class="container">
        <aside class="question">
          <h4>What is SnailScale?</h4>
        </aside>
        <aside>
          A scale that displays food facts including calories, macro nutrients
          such as protien, fat, and carbs, and micro- nutrients like iron,
          soduim, etc. Based on the type of food or ingredient on it.
        </aside>
        <aside class="question">
          <h4>How does SnailScale do it?</h4>
        </aside>
        <aside>
          SnailScale uses a camera to detect the item on it. once the item is
          detected, all dietary nutritions are calculated based on weight on the
          food, the units (g, oz, ...) doesn't matter!
        </aside>
        <aside class="question">
          <h4>Who SnailScale is for?</h4>
        </aside>
        <aside>
          <ul>
            <li>
              Professional Athletes who need to pay attention to their food
              intake and change their diet
            </li>
            <li>
              Health & Fitness Enthusiasts who what to pay attention to macro
              nutrients
            </li>
            <li>
              People with a strict diet such as Keto for weight gain/loss and
              need to watch for carb intake
            </li>
            <li>
              Those with health conditions that requires them to consume a set
              amount of micro nutrients in their food. For example, Iron or
              Sodium.
            </li>
          </ul>
        </aside>
        <aside class="question">
          <h4>Key Benefits:</h4>
        </aside>
        <aside>
          <ul>
            <li>
              SnailScale contains nutritional facts for alot of food items so
              there is no need to search them up online
            </li>
            <li>
              The ingredient are detected and calculated automatically no need
              to calculate anyhting by hand or type in the food name into the
              device.
            </li>
            <li>
              You can save alot of time for measuring and calculating the
              nutritions and spend that time on other things
            </li>
          </ul>
        </aside>
      </div>
    </section>
    <a href="./">
      <div class="btn medium pill" id="homepage">Back to home page</div>
    </a>
    <p>
      <img
        src="/web/src/public/images/EmpathyMap.png"
        width="500"
        height="500"
      />
    </p>
    <script type="text/javascript" src="rest.js"></script>
  </body>
</html>
