<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="shortcut icon" href="#" />

    <!-- Page Info -->
    <title>SnailScale</title>
    <meta name="author" content="Sepehr Bostan" />
    <meta name="description" content="Comfortable Diet" />

    <link rel="stylesheet" type="text/css" href="css/agile.css" />
  </head>
  <body>
    <div class="hero">
      <h1 class="header-hero">Revenue Model</h1>
    </div>

    <section class="Middle">
      <h2>Sources of revenue streams:</h2>
      <div class="HighLineWidth">
        For our revenue sources we have decided to utilize a one time purchase
        of the product which is the scale and subscription based service that
        offers a detialed display of the nutritional information,as well as a
        list of saved meals that user can view at any time. Each unit price is
        $50 and subscription service is $2 per month.
      </div>
    </section>

    <section class="Middle">
      <h2>Channels of Revenue:</h2>
      <div class="HighLineWidth">
        We are planning to sell our physical product which includes the scale
        and camera on our website or other retail stores and websites such as
        BestBuy or Amazon. We offer the subscription based plan on our website
        or the app after the user signs up.
      </div>
    </section>

    <section class="Middle">
      <h2>Annual revenue:</h2>
      <div class="HighLineWidth">
        The expected annual revenue for each channel would inclue:
        <ul>
          <li>
            Sales: Total sale of 10,000 units for the first year after
            successful advertisement and marketing which be a total of $500,000.
          </li>
          <li>
            Subscription: We expect an average user to use our subsription plan
            for up to 3 months and maybe to upwards of 6 months only because the
            subscription is very low cost of $2. Based on mentioned number of
            sales we expect minimum of $60,000 revenue from subscription
            services only.
          </li>
        </ul>
      </div>
    </section>

    <a href="./">
      <div class="btn medium pill" id="homepage" onclick="product_page()">
        Back to home page
      </div>
    </a>
    <script type="text/javascript" src="rest.js"></script>
  </body>
</html>
